<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" charset="UTF-8">

    <title>App</title>
    <script src="resources/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="resources/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="resources/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="resources/bower_components/bootstrap-datepicker/dist/locales/bootstrap-datepicker.ru.min.js"></script>
    <script src="http://www.jsviews.com/download/jsrender.min.js"></script>
    <script src="resources/js/app.js"></script>
    <link rel="stylesheet" href="resources/bower_components/bootstrap/dist/css/bootstrap.min.css">

</head>

<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <h3>Список пользователей:</h3>
            <div class="list-group" id="personList">
            </div>
        </div>
        <div class="col-md-6">
            <h3>Форма управления:</h3>
            <form>
                <input type="hidden" id="id"/>
                <div class="form-group">
                    <label for="lastname">Фамилия:</label>
                    <input type="text" class="form-control" id="lastname" placeholder="Фамилия">
                </div>
                <div class="form-group">
                    <label for="name">Имя:</label>
                    <input type="text" class="form-control" id="name" placeholder="Имя">
                </div>
                <div class="form-group">
                    <label for="middlename">Отчетство:</label>
                    <input type="text" class="form-control" id="middlename" placeholder="Отчество">
                </div>
                <div class="form-group">
                    <label for="birthday">Дата рождения:</label>
                    <input class="form-control" id="birthday" placeholder="Дата рождения">
                </div>
                <button id="update" class="btn btn-default">Сохранить</button>
                <button id="create" type="submit" class="btn btn-default">Создать</button>
                <button id="delete" type="submit" class="btn btn-default">Удалить</button>
            </form>
        </div>
    </div>
</div>
<script id="personItem" type="text/x-jsrender">
<a href="#" class="list-group-item" onClick="getPerson({{:id}})">{{:name}} {{:middlename}} {{:lastname}}</a>
</script>
</body>
</html>